body {
    margin: 0;
}

/* styles for head */
.head-container {
    margin: 50px;
    background-color: rgba(16, 144, 216, 0.10);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 50px 19px 42px;
}

/* styles for head sections heading */
.interactive-heading {
    font-size: 45px;
    font-weight: 700;
    color: rgba(17, 17, 17, 0.80);
    margin: 0;
}

.geometry-heading {
    font-size: 30px;
    font-weight: 500;
    color: rgba(17, 17, 17, 0.60);
    margin: 0;
}

/* styles for head sections button */
.btn-blog {
    font-size: 20px;
    font-weight: 700;
    background-color: #1090D8;
    color: white;
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 8px;
}

/* styles for main section */
/* for main container */
.main-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.main-container-single {
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 8px;
    /* width: 437px; */
    text-align: center;
    padding: 50px 20px;
}

/* input field styles */
.input-aria {
    display: none;
}

.input-field {
    width: 70px;
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: #F1F1F1;
    padding: 2px 12px;
}

.subject-heading {
    color: #414141;
    font-size: 25px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 0;
}

.calculation-rules {
    margin-top: 10px;
    margin-bottom: 22px;
    font-size: 16px;
}

.calculation-value {
    font-size: 20px;
    color: rgba(17, 17, 17, 0.80);
    font-weight: 400;
    margin-top: -12px;
}

/* text value styles */
.text-value {
    display: inline-block;
    margin: 0;
    padding: 0 9px;
}

.calculate-button {
    margin-top: 50px;
    width: 235px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: #1090D8;

    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* aria calculation  */
.aria-calculation-heading {
    color: rgba(17, 17, 17, 0.80);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-decoration-line: underline;
}